table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.bulletPoint{
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
}
.fiveMarginTop{
    margin-top: 5vh;
     margin-bottom: 2vh;
}